.main_container{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #EAF1FB;
    // width: 1028px;
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        .left{
            display: flex;
            align-items: center;
            gap: 10px;
            .logo{
                width: 25px;
                height: 25px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .right{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            .subject{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 350px;
            }
            .actions{
                display: flex;
                align-items: center;
                .logo{
                    width: 25px;
                    height: 25px;
                    margin-left: 10px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}